   body{
    background: #19334d;
    background-image: url() ("samuel-zeller-157390.jpg");
    background-size:cover;
    background-repeat: no-repeat; 
    padding: 40px; 
    font-family: "helvetica";
}  

h1{
    text-align: left;
    color: #c6d9ec;
    font-size: 600%;
    text: bold;
}

h2{
    text-align: center;
    color:#00b3b3;
    padding-top: 150%;
}

h3{
    text-align: center;
    color: #f0f0f5;
}
 .col-sm-12{
    text-align: center;
} 

.fa {
    transition: color .5s;
    padding: 0px 20px;
}

.fa:hover{
    color:#c6d9ec;
}

i{
    color: #00b3b3;
}

a:link{
    background-color: none;
}

a:visited{
    color: #fff;
    background-color: none;
}

